<div [ngClass]="{tabs: true, admin: role === 'admin'}">
    <div [ngClass]="{selectTabFirst: true, select: select === 0}" (click)="onToggle(0)">{{'user-details.tabOut' | translate}}</div>
    <div *ngIf="role === 'admin'" [ngClass]="{selectTabSecond: true, select: select === 1}" (click)="onToggle(1)">{{'search' | translate}}</div>
    <div [ngClass]="{selectTabThrid: true, select: select === 2}" (click)="onToggle(2)">{{'user-details.tabIn' | translate}}</div>
</div>
<div [ngSwitch]="select" [class.tabsView]="true">
    <app-output-form *ngSwitchCase="0"></app-output-form>
    <app-user-list *ngSwitchCase="1" (edit)="onToggle(2); isEditUsers = true"></app-user-list>
    <app-user-form *ngSwitchCase="2" (update)="onToggle($event)" [edit]="isEditUsers"></app-user-form>
</div>
<input type="button" value="{{'user-details.logout' | translate}}" (click)="logout()">