@import '../shared/driveAnimation';

@include animation("details", 0, 20vh, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));

:host {    
    text-align: center;
    display: block;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 20vh;
    left: calc(50vw - 250px);
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.5);
    animation: detailsAnimation 1s;

    .tabsView {
        padding: 10px 0;
    }
}

input {
    margin: 30px 0;
}

.tabs {
    display: flex;
    justify-content: space-between;

    div {
        color: #ccc;
        position: relative;
        background-color: rgba(102, 102, 102, 0.5);
        width: 250px;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        transition: left 200ms ease-in 200ms, right 200ms ease-in, top 200ms ease-in 100ms;
        
        &:hover {
            background-color: rgba(102, 102, 102, 0.7);
        }
    }
}

.admin div {
    width: 166px;

    // &:nth-child(2) {
    //     margin: 0 3px;
    // }
}

.selectTabFirst {
    left: 0;
}

.selectTabSecond {
    top: 0;
}

.selectTabThrid {
    right: 0;
}

.selectTabFirst.select {
    left: -5px;
}

.selectTabSecond.select {
    top: -5px;
}

.selectTabThrid.select {
    right: -5px;
}
