<div>
  <div>
    <span>{{'user-details.output-form.name' | translate}}:</span>
    <span>{{formValue?.name}}</span>
  </div>
  <div>
      <span>{{'user-details.output-form.age' | translate}}:</span>
      <span>{{formValue?.age}}</span>
  </div>
  <div>
      <span>{{'user-details.output-form.birthday' | translate}}:</span>
      <span>{{formValue?.dateOfBirth}}</span>
  </div>
  <div>
      <span>{{'user-details.output-form.dateOfLogin' | translate}}:</span>
      <span>{{formValue?.dateOfFirstLogin}}</span>
  </div>
  <div>
    <span>{{'user-details.output-form.information' | translate}}:</span>
    <span>{{formValue?.information}}</span>
</div>
  <div>
      <span>{{'user-details.output-form.dateOfNotification' | translate}}:</span>
      <span>{{formValue?.dateOfNextNotif}}</span>
  </div>
</div>
