:host {    
    text-align: center; 
}

.singIn {
    margin-top: 10px;
}

a {    
    color: #ccc;
    margin-left: 10px;
}

// input {
//     width: 450px;
//     border: 0;
//     border-bottom: 1px solid #666;
//     height: 30px;
//     background-color: rgba(0, 0, 0, 0);
//     color: #ccc;
// }

// input::-webkit-input-placeholder {
//     color: #ccc;
// }

// input:-moz-placeholder {
//     color: #ccc;
// }

// input::-moz-placeholder {
//     color: #ccc;
// }

// input:-ms-input-placeholder {
//     color: #ccc; 
// }

// input:focus {
//     border-bottom: 1px solid #ccc;
//     color: #eee;
// }

// input[type="submit"] {
//     background-color: rgba(102, 102, 102, 0.5);
//     border: 1px solid #666;
//     width: 200px;
//     height: 40px;
// }