<div>
  <div>
    <span>{{'user-details.output-form.name' | translate}}:</span>
    <span>{{user?.name}}</span>
  </div>
  <div>
      <span>{{'user-details.output-form.age' | translate}}:</span>
      <span>{{user?.age}}</span>
  </div>
  <div>
      <span>{{'user-details.output-form.birthday' | translate}}:</span>
      <span>{{user?.dateOfBirth}}</span>
  </div>
  <div>
      <span>{{'user-details.output-form.dateOfLogin' | translate}}:</span>
      <span>{{user?.dateOfFirstLogin}}</span>
  </div>
  <div>
    <span>{{'user-details.output-form.information' | translate}}:</span>
    <span>{{user?.information}}</span>
</div>
  <div>
      <span>{{'user-details.output-form.dateOfNotification' | translate}}:</span>
      <span>{{user?.dateOfNextNotif}}</span>
  </div>
</div>
