:host {
    display: block;
    div {
        position: absolute;
        width: 300px;
        height: 70px;
        background-color: rgba(102, 102, 102, 0.8);
        border: 1px solid #666;
        border-left-width: 10px;
        top: -72px;
        left: calc(50vw - 150px);
        transition: top 500ms linear;
        line-height: 70px;
        font-family: Verdana;
        text-align: center;
        color: #ccc;
        font-size: 1.1rem;
    }

    .showPopup {
        top: 0;
    }

}
