@import "./shared/spinner";

:host {
    width: 100%;
    height: 100%;
}

.content {
    background-color: #fa5655;
    height: 40px;
    font-family: Verdana;
    font-size: 1.25rem;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.7);
    padding: 0 40px;
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
}

h3, .LoginAndLang {
    display: inline-block;
    margin: 0;    
}

.LoginAndLang {
    width: 130px;
    display: flex;
    justify-content: space-between;
}

a { 
    color: #ccc;
    font-size: 1.1rem;
    text-decoration: underline;
}

a:hover {
    cursor: pointer;
}

@include spinner();