<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div>
        <label>
            <span>{{'user-details.user-form.name' | translate}}</span>
            <input type="text" placeholder="Anna Maria" formControlName="name">
        </label>
        <div class="loading" *ngIf="name.dirty && name.status === 'PENDING'">loading...</div>
        <app-invalid-input *ngIf="name.dirty && name.status === 'VALID'" 
        message="{{'user-details.user-form.messages.success' | translate}}"
        type="success"></app-invalid-input>
        <app-invalid-input *ngIf="name.dirty && (name.errors?.name || name.errors?.checkExistName)" 
        message="{{ name.errors?.name ? ('user-details.user-form.messages.name' | translate) 
        : ('user-details.user-form.messages.existname' | translate) }}"
        type="error"></app-invalid-input>
    </div>
    <div>
        <label>
            <span>{{'user-details.user-form.age' | translate}}</span>
            <input type="text" formControlName="age" placeholder="18-65">
        </label>
        <app-invalid-input *ngIf="age.dirty && (age.errors?.age || age.status === 'VALID')" 
        message="{{ age.status === 'VALID' ? ('user-details.user-form.messages.success' | translate)
        : ('user-details.user-form.messages.age' | translate) }}"
        type="{{ age.status === 'VALID' ? 'success' : 'error'}}"></app-invalid-input>
    </div>
    <div>
        <label>
            <span>{{'user-details.user-form.birthday' | translate}}</span>
            <input type="text" formControlName="dateOfBirth" placeholder="YYYY/MM/DD">
        </label>
        <app-invalid-input *ngIf="dateOfBirth.dirty && (dateOfBirth.errors?.date || dateOfBirth.status === 'VALID')" 
        message="{{ dateOfBirth.status === 'VALID' ? ('user-details.user-form.messages.success' | translate) 
        : ('user-details.user-form.messages.dateOfBirth' | translate) }}"
        type="{{ dateOfBirth.status === 'VALID' ? 'success' : 'error'}}"></app-invalid-input>
    </div>
    <div>
        <label>
            <span>{{'user-details.user-form.dateOfLogin' | translate}}</span>
            <input type="text" formControlName="dateOfFirstLogin" placeholder="DD MMMM YYYY">
        </label>
        <app-invalid-input 
        *ngIf="dateOfFirstLogin.dirty && (dateOfFirstLogin.errors?.date || dateOfFirstLogin.status === 'VALID')" 
        message="{{ dateOfFirstLogin.status === 'VALID' ? ('user-details.user-form.messages.success' | translate) 
        : ('user-details.user-form.messages.dateOfFirstLogin' | translate) }}"
        type="{{ dateOfFirstLogin.status === 'VALID' ? 'success' : 'error'}}"></app-invalid-input>
    </div>
    <div>
        <label>
            <span>{{'user-details.user-form.information' | translate}}</span>
            <input type="text" formControlName="information">
        </label>
        <app-invalid-input 
        *ngIf="information.dirty && (information.errors?.information || information.status === 'VALID')" 
        message="{{ information.status === 'VALID' ? ('user-details.user-form.messages.success' | translate) 
        : ('user-details.user-form.messages.information' | translate) }}"
        type="{{ information.status === 'VALID' ? 'success' : 'error'}}"></app-invalid-input>
    </div>
    <div>
        <label>
            <span>{{'user-details.user-form.dateOfNotification' | translate}}</span>
            <input type="text" formControlName="dateOfNextNotif" placeholder="DD-MMM-YY">
        </label>
        <app-invalid-input 
        *ngIf="dateOfNextNotif.dirty && (dateOfNextNotif.errors?.date || dateOfNextNotif.status === 'VALID')" 
        message="{{ dateOfNextNotif.status === 'VALID' ? ('user-details.user-form.messages.success' | translate) 
        : ('user-details.user-form.messages.dateOfNextNotif' | translate) }}"
        type="{{ dateOfNextNotif.status === 'VALID' ? 'success' : 'error'}}"></app-invalid-input>
    </div>
    <input type="submit" [disabled]="userForm.pristine || userForm.status !== 'VALID'" value="{{'user-details.user-form.submit' | translate}}">
</form>
